/Buoi2/nbproject/private/
/Buoi2/build/
/Buoi2/dist/
/Buoi3/nbproject/private/
/Buoi3/build/
/Buoi4/nbproject/private/
/Buoi4/build/
/Buoi5/nbproject/private/
/Buoi5/build/
/contest/nbproject/private/
/contest/build/
